h1 {
    color: green;
    font-style: italic;
    font-weight: lighter;
}
h3{
    color: black;
}
body {
    background-color: rgb(228, 200, 195);
}

.note{
    color: skyblue;
    padding-top: 1px;
}
li{
    color: rgb(15, 15, 22);
    font-style: italic;
    font-size: larger;
}
button{
    font-style: italic;
    background-color: rgb(226, 174, 29);
}
.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
   max-width: max-content;
}
.message{
    color: rgb(37, 175, 9);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
   max-width: max-content;
}
